@using Jmelosegui.Mvc.GoogleMap
@{
    ViewBag.Title = "Dashboard";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div ng-app="PositionsApp" class="col-md-8" ng-controller="DataAnalysisController">
        <ul ng-repeat="id in ids" >
            <li>{{id}}</li>
        </ul>
    </div>
</div>

@section scripts
{
<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/PositionController.js"></script>
}