
@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h1>@ViewBag.Title</h1>
<hr />
<div ng-app="dataflowApp" ng-controller="MaintenanceController">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Maintenance graphs</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="maintenanceGraph" google-chart chart="chartObject" style="height:600px; width:100%;"></div>
                            <hr />
                            <form name="maintenanceForm">
                                <h2>Interval</h2>
                                <div class="form-group">
                                    <label for="begin">Begin:</label>
                                    <input name="beginTime" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="beginTime" class="form-control" id="begin" required>
                                    <div role="alert">
                                        <span class="error" ng-show="maintenanceForm.beginTime.$error.required">
                                            Required!
                                        </span>
                                        <span class="error" ng-show="maintenanceForm.beginTime.$error.datetimelocal">
                                            Not a valid date!
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="end">End:</label>
                                    <input name="endTime" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="endTime" class="form-control" id="end" required>
                                    <div role="alert">
                                        <span class="error" ng-show="maintenanceForm.endTime.$error.required">
                                            Required!
                                        </span>
                                        <span class="error" ng-show="maintenanceForm.endTime.$error.datetimelocal">
                                            Not a valid date!
                                        </span>
                                    </div>
                                </div>
                                <button type="button" ng-disabled="!hideLoadingMaintenance || maintenanceForm.beginTime.$error.datetimelocal || maintenanceForm.endTime.$error.datetimelocal" ng-click="loadMaitenance()" class="btn btn-default">Update</button>
                                <button type="button" onclick="PdfGenerator.GenerateFromHtmlFancy('test', ['maintenanceGraph'])" class="btn btn-default">Generate pdf</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseMaintenance">Maintenance data</a>
                    </h4>
                </div>
                <div id="collapseMaintenance" class="panel-collapse collapse in">
                    <div ng-hide="hideLoadingMaintenance" class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ maintenanceItemsLoaded }}" aria-valuemin="0" aria-valuemax="{{ maintenance.length }}" style="width:{{ (maintenanceItemsLoaded / maintenance.length) * 100 }}%">
                            {{ (maintenanceItemsLoaded / maintenance.length) * 100 | number:0 }}%
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="unit in maintenance" ng-if="unit.kilometersTravelled != -1">
                            {{ "Unit " + unit.unitId + " has driven " + unit.kilometersTravelled + " km"}}
                        </li>
                    </ul>
                    <img ng-hide="hideLoadingMaintenance" class="img-loader img-responsive" src="~/Content/Images/loading_dots.gif" />
                </div>
            </div>
        </div>

        <br />

        <div ng-controller="ConnectionController" class="col-sm-8">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Connection Graph</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
                            <label>Total average: {{totalAverage}} seconds </label> ({{totalAverageMinute}} minutes)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/FleetManagerController")


