
@{
    ViewBag.Title = "BuyData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy Data</h2>

<div class="container" ng-controller="SelectController" ng-app="BuyData">
    <div id="guideSteps">
        <p>1. Select the data you wish to buy.</p>
    </div>
        <select id="dataSelect" name="dataSelect" ng-model="dataSelect" ng-change="update()" ng-hide="stepCount != 0">
            <option value="event">Event data</option>
            <option value="monitoring">Monitoring data</option>
            <option value="connection">Connection data</option>
            <option value="position">Position data</option>
        </select>

    <input type="datetime-local" name="fromDate" ng-model="dateFrom" ng-show="stepCount == 1" ng-hide="stepCount != 1">
    <input type="datetime-local" name="toDate" ng-model="dateTo" ng-show="stepCount == 1" ng-hide="stepCount != 1">
        <br />
</div>

@Scripts.Render("~/bundles/buydata")