
@{
    ViewBag.Title = "BuyData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy Data</h2>
<div ng-app="BuyData" ng-controller="SelectController">
    <div id="exampleCode" style="float: right; clear: both">
        Example code
        <br />
        <textarea readonly rows="4" cols="50" ng-model="code"></textarea>
    </div>

    <div class="container">
        <div id="guideSteps">
            <p>1. Select the data you wish to buy.</p>
        </div>
        <select ng-model="dataSelect" ng-change="update()" ng-hide="stepCount != 0">
            <option value="events">Event data</option>
            <option value="monitorings">Monitoring data</option>
            <option value="connection">Connection data</option>
            <option value="positions">Position data</option>
			<option value="monitorings">Monitoring data</option>
        </select>
        <select ng-model="dataTypeSelect" ng-change="update()" ng-hide="stepCount != 1">
            <option value="XML">XML file</option>
            <option value="JSON">JSON file</option>
            <option value="CSV">CSV file</option>
        </select>

        <input type="date" ng-model="dateFrom" ng-change="update()" ng-hide="stepCount != 2">
        <input type="date" ng-model="dateTo" ng-change="update()" ng-hide="stepCount != 3">

        <button type="button" ng-click="previous()" ng-hide="stepCount == 0">Back</button>
        <button type="button" ng-click="buy()" ng-hide="stepCount != 4">Buy</button>
        <a id="downloadLink" style="display: none">Download</a>
</div>

</div>
@Scripts.Render("~/bundles/buydata")