
@{
    ViewBag.Title = "Ignition";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Ignition</h2>
<div ng-app="Ignition" ng-controller="SelectController">

        <input type="date" ng-model="startDate" />
        <input type="date" ng-model="endDate" />

        <button type="button" ng-click="select()">Select</button>

    <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>

    </div>
@Scripts.Render("~/bundles/dashboardController")