@{
    ViewBag.Title = "Dataflow home";
}

<div class="container-fluid">
    <div class="container-fluid entry-header" id="home">
        <div class="container">
            <h1>Dataflow</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed. Pellentesque fringilla orci eget dolor laoreet iaculis ac eget metus. Vivamus at turpis leo. Donec rhoncus purus quis urna euismod scelerisque. Suspendisse quis pharetra nisl. Fusce nec consequat felis, quis placerat dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sit amet faucibus ipsum. Quisque aliquet venenatis metus in tristique.</p>
            <p><a href="@Url.Action("ControlPanel", "User")" class="btn btn-primary btn-lg">Continue to dashboard &raquo;</a></p>
        </div>
    </div>
    <div class="container-fluid section" id="services">
        <div class="container text-center">
            <h1>Services</h1>
            <h4><i>"What we do"</i></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed. Pellentesque fringilla orci eget dolor laoreet iaculis ac eget metus. Vivamus at turpis leo. Donec rhoncus purus quis urna euismod scelerisque. Suspendisse quis pharetra nisl. Fusce nec consequat felis, quis placerat dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sit amet faucibus ipsum. Quisque aliquet venenatis metus in tristique.</p>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section-colored" id="pricing">
        <div class="container text-center">
            <h1>Pricing</h1>
            <h4><i>"What we offer"</i></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed. Pellentesque fringilla orci eget dolor laoreet iaculis ac eget metus. Vivamus at turpis leo. Donec rhoncus purus quis urna euismod scelerisque. Suspendisse quis pharetra nisl. Fusce nec consequat felis, quis placerat dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sit amet faucibus ipsum. Quisque aliquet venenatis metus in tristique.</p>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>1 Month deal</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                    <h1>&euro; 9,99</h1>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>3 Months deal</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                    <h1>&euro; 24,99</h1>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="~/Content/Images/placeholder.png" />
                    <h2>1 Year deal</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet leo vel dui ornare ultricies. Nulla ipsum purus, pretium non iaculis ac, porta quis nisl. Proin ligula elit, vulputate a euismod nec, egestas id diam. Curabitur ornare nisi in dolor venenatis, ac eleifend felis efficitur. Maecenas gravida sapien sit amet aliquet posuere. Donec sollicitudin lacinia massa, elementum vehicula augue finibus sed.</p>
                    <h1>&euro; 89,99</h1>
                </div>
            </div>
        </div>
    </div>
    @*@Html.ActionLink("CityGis", "CityGisControlPanel");<br />
    @Html.ActionLink("Commercial", "CommercialControlPanel");<br />
    @Html.ActionLink("Fleet manager", "FleetManagerControlPanel");*@

</div>