
@{
    ViewBag.Title = "PdfTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PdfTest</h2>

<div class="container">
    <div id="render_me1">
        <h2>Generate reports</h2>
        <p>
            The button below converts html to pdf.
            You can show a preview of the pdf and then the user can easly download it!
        </p>
        <table>
            <tbody>
                <tr>
                    <th>HEADER 1</th>
                    <th>Header 2</th>
                </tr>
                <tr>
                    <td>Item 1.1</td>
                </tr>
                <tr>
                    <td>Item 2.1</td>
                    <td>Item 2.2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div id="render_me2">
        <div>Second page render!</div>
    </div>
    <hr/>
    <p><a class="btn btn-default" onclick="new Pdf.GenerateFromHtml('Report', ['render_me1','render_me2'])" href="#">Download pdf &raquo;</a></p>
</div>

@Scripts.Render("~/bundles/pdf")
