body {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   padding-left: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar {
      border-top: 0px;
      border-radius: 0px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  /*.sidebar-nav .navbar ul:not {
    display: block;
  }*/
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-left: 20vh 24px;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #e8e8e8;
  }
}

footer p {
    text-align: center;
}

.header-bar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 32px;
}

.header-bar div {
    color: #a0a0a0;
}

.container-content {
    width: 99vw;
}

.disabled {
    cursor: not-allowed; 
}