@Scripts.Render("~/bundles/DiskSpace")
@Scripts.Render("~/bundles/WebApi")
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/d3/d3.js"></script>
<script type="text/javascript" src="~/Scripts/angular-nvd3.js"></script>
<script type="text/javascript" src="~/Scripts/nv.d3.js"></script>
<link rel="stylesheet" href="~/Content/nv.d3.css"/>

<h2>ControlPanel CityGis</h2>
<div ng-app="diskSpaceApp">
    <h1>Diskspace analysis</h1>
    <div  ng-controller="diskSpaceController">
        <nvd3 data="data" options="options"></nvd3>
    </div>
    <div  ng-controller="diskSpace2Controller">
        <nvd3 data="data" options="options"></nvd3>
    </div>
</div>






