@Scripts.Render("~/bundles/DiskSpace")
@Scripts.Render("~/bundles/WebApi")
@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/d3/d3.js"></script>
<script type="text/javascript" src="~/Scripts/angular-nvd3.js"></script>
<script type="text/javascript" src="~/Scripts/nv.d3.js"></script>
<link rel="stylesheet" href="~/Content/nv.d3.css"/>

<h2>ControlPanel CityGis</h2>
<div ng-app="diskSpaceApp">
    <h1>Diskspace analysis</h1>
    <div  ng-controller="diskSpaceController">
        <nvd3 data="data" options="options"></nvd3>
    </div>
    <div  ng-controller="diskSpace2Controller">
        <nvd3 data="data" options="options"></nvd3>
    </div>
</div>





<<<<<<< HEAD
<h1>@ViewBag.Title</h1>
<hr />
<div ng-app="dataflowApp">
    <div ng-controller="AlertController">
        <div class="row">
            <div class="col-sm-3">
                <div class="well well-lg alert-item-red">
                    <h1>{{ timeString }}</h1>
                    <h4>{{ dateString }}</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well well-lg alert-item-green">
                    <h1>{{ unitInformationWarnings }}</h1>
                    <h4>Units have a bad connection</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well well-lg alert-item-blue">
                    <h1>{{ unitDiskSpaceWarnings }}</h1>
                    <h4>Units have an almost full disk</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well well-lg alert-item-purple">
                    <h1>{{ averageConnectionTime }}</h1>
                    <h4>Average connection time (in seconds)</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-controller="ConnectionController">
            <div class="col-sm-6">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Connection graph</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
                                Total average: {{totalAverage}} seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="AnalysedDataController">
            <div class="col-sm-6">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Unit information graph</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <h4>Unit information</h4>
                                <div id="chartArea"></div>
                                <p>Looks at units with a bad connection. The X-Axis is the amount of (bad connection) occurrences.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/CityGisController")
=======
>>>>>>> refs/remotes/origin/diskspace-analysis

