@ViewBag.Title="About"

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/UnitController.js"></script>
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div ng-app="UnitApp" class="data">
    <div ng-controller="UnitController">
        {{message}}
    </div>
</div>

